

<nav class="nav">
    <ul class="cabecalho">
        <div class="menu-center">
            <li><a href="/dashboard">Início</a></li>
            <li class="drop"><a href="#">Produtos</a>
                <ul class="dropdown">
                    <li><a href="/products">Listar Produtos</a></li>
                    <li><a href="/addProduct">Cadastrar Produtos</a></li>                    
                </ul>
            </li>
            <li class="drop"><a href="#">Usuários</a>
                <ul class="dropdown">
                    <li><a href="#">Cadastrar Usuários</a></li>
                    <li><a href="#">Editar Usuários</a></li>
                    <li><a href="#">Excluir Usuários</a></li>
                </ul>
            </li>
            <li class="drop"><a href="#">Pedidos</a>
                <ul class="dropdown">
                    <li><a href="newOrder">Criar Pedido</a></li>
                    <li><a href="/openOrders">Listar Pedidos</a></li>                    
                </ul>
            </li>
        </div>
        
    </ul>
</nav>

